@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;700&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Nunito Sans', sans-serif;
  color: #fff;
}

html,
body,
#react-root {
  height: 100%;
  margin: 0;
  background: #2a2a2a;
}
